* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("imgs/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Sen", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

/* Menu */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  width: 100%;
}

.logo {
  width: 86px;
  height: 48px;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 15px;
}

.menu li {
  color: white;
  
}

 .nav-itens a {
  padding: 0 36PX;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;

  font-size: 13px;
  letter-spacing: 1.42px;
  line-height: 1.07px;

  gap: 5px;
}

.nav-itens img {
  width: 24px;
  height: 20px;
}

.dotted {
  display: none;
}

/* Usuário */

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.user  img{
  width: 48px;
  height: 48px;
}

.user a {
  text-decoration: none;
  margin: 0 16px;
  color: white;
}

/* Corpo da página */

main {
  padding: 0 0 0 20px;
}

.page {
  max-width: 90vw;
  margin: 10vh;
  display: flex;
  flex-direction: column;
}

/* Carrossel */

.carousel {
  max-width: 100%;
}

.recommended {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 2vh;
  position: relative;
}

.recommended-now img {
  width: 100%;
  height: 100%;
  box-shadow: 0 1.5em 1.5em -0.8em #000
}

/* Logos */

.logos {
  margin-top: 4vh ;
  display: flex;
  justify-content: space-between;
  gap: 2vh;
}

.logoBox{
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  border-radius: 8px;
  box-shadow: 0 1.5em 1.5em 0em #000;
  
}
.logoBox img {
  width: 100%;
  height: 100%;
  
}

.logoBox:hover {
  transform: scale(1.05);
  transition: all 1000ms ease;
  transform-origin: top center;
  outline: 1px solid white;
}

/* Novidades */

.news {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  
}

.news h2 {
  color: white;
  font-size: 1.5rem;
}


.news .filmes {
  position: relative;
}

.news .filmes::after {
  position: absolute;
  right: 0;

  display: grid;
  place-content: center;

  content: ">";

  width: clamp(5%, 75px, 15%);
  height: 100%;
  
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), black);
  /* opacity: 0; */


  color: white;
  font-size: 35px;
}

.news .filmes::after :hover {
  opacity: 1;
  cursor: pointer;
}

.filmes {
  margin-top: 4vh;
  display: flex;
  justify-content: space-around;
  gap: 18px;

}

.logoBox2{
  position: relative;
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  border-radius: 8px;
  box-shadow: 0 1.5em 1.5em 0em #000;
}

.logoBox2 img {
  width: 324px;
  height: 186px;
  border-radius: 8px;

}

.logoBox2:hover {
  transform: scale(1.05);
  transition: all 1000ms ease;
  transform-origin: top center;
  outline: 1px solid white;
}




/* Rodapé */

footer {
  background-color: #0e0b14;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.footer-logo {
  margin-top: 20px;
}

.footer-content {
  display: flex;
  margin: 0px auto;
  -webkit-box-pack: center;
  justify-content: center;
  flex-flow: wrap;
  max-width: 500px;

}

.footer-content button {
  font-size: 12px;
  letter-spacing: -.1px;
  line-height: 1.5;
  margin: 11px 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #f9f9f9;

}

.footer-metadata p {
  color: #cacaca;
  text-align: center;
  font-size: 12px;
  letter-spacing: -.1px;
  line-height: 1.5;
  
}

.footer-direitos {
  padding-bottom: 1.5rem;
  padding-top: .5rem;
}


.footer-direitos p {
  font-family: Inspire-Regular,sans-serif;
  font-size: 12px;
  letter-spacing: -.1px;
  line-height: 1.5;
  color: #cacaca;

}

@media (max-width:1550px) {
  .response {
    display: none;
  }
  .dotted {
    display: flex;
  }
}

.movies {
  margin-left: 10vh;
}