* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("imgs/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Sen", sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

header {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

/* Menu */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  width: 100%;
}

.logo {
  height: 3.2rem;
  width: 5.9rem;
  cursor: pointer;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.menu li {
  color: white;
  
}

 .nav-itens a {
  padding: 16px 12px;
  
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;

  font-size: 13px;
  letter-spacing: 1.42px;
  line-height: 1.07px;

  gap: 5px;
}

.nav-itens img {
  width: 24px;
  height: 20px;
}

.dotted {
  display: none;
}

/* Usuário */

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.user  img{
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.user a {
  text-decoration: none;
  margin: 0 16px;
  color: white;
}

/* Corpo da página */

.page {
  max-width: 90vw;
  margin: 5vh 10vh 0 10vh;
  display: flex;
  flex-direction: column;
}

/* Carrossel */

.banners {
  width: 100%;
  margin-top: 10vh;

  display: flex;
  justify-content: space-between;
}

.banners button {
  position: relative;
  width: 5.1rem;

  background: hsla(0, 0%, 0%, 0.397);
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 1.5em 1.5em -0.8em #000
}

.btn-carrossel:hover img {
  opacity: 1;
}

.btn-left {
  margin-right: 20px;
}

.btn-rigth {
  margin-left: 20px;
}

.btn-left img {
  transform: rotate(90deg);
}

.btn-rigth img {
  transform: rotate(270deg);
}

:is(.btn-left, .btn-rigth) img {
  opacity: 0;
  transition: opacity 0.1s;
}

.recommended {
  gap: 2rem;
}

.recommended-now {
  position: relative;
  width: 100%;
  height: 100%;
}

.recommended-now img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  box-shadow: 0 1.5em 1.5em -0.8em #000
}

.recommended-logo {
  position: absolute;
  top: 20%;
  left: 10%;
}
.recommended-logo img {
  animation: leftsmooth 700ms;

  width: 25%;
  height: 25%;
}

/* Logos */

.logos {
  margin: 1.9rem 0;
  display: flex;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  
}

.logoBox{
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  border-radius: 8px;
  box-shadow: 0 1.5em 1.5em 0em #000;
  
}
.logoBox img {
  width: 100%;
  height: 100%;
  
}

.logoBox:hover {
  transform: scale(1.05);
  transition: all 1000ms ease;
  transform-origin: top center;
  outline: 1px solid white;
}

/* Novidades */

.news {
  margin-top: 0 4vh;
  display: flex;
  flex-direction: column; 
  
}

.news h2 {
  color: white;
  font-size: 1.5rem;
}

.movies {
  margin-left: 10vh ;

}

.movie {
  margin-top: 0 4vh;
  display: flex;
  flex-direction: column; 
  margin-right: 10vh;

  
}

.movie h4 {
  color: white;
  font-size: 1.5rem;
  margin-top: 5vh;
  margin-bottom: 5px;
}

.filmes {

  display: flex;
  gap: 2rem;
  justify-content: space-between;

}

.cards {
  position: relative;
  display: flex;
}

.btn-card {
  position: absolute;

  width: 6vh;  
  top: 0;
  bottom: 0;
  right: -10vh;

  background: hsla(0, 0%, 0%, 0.397);
  border-radius: 8px 0 0 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.btn-card img {
  transform: rotate(270deg);
}

.logoBox2{
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  border-radius: 8px;
  box-shadow: 0 1.5em 1.5em 0em #000;
}


.logoBox2 img {
  width: 100;
  height: 100%;
  border-radius: 8px;

}


.logoBox2:hover {
  transform: scale(1.05);
  transition: all 1000ms ease;
  transform-origin: top center;
  outline: 1px solid white;
}




/* Rodapé */

footer {
  position: relative;
  background-color: #0e0b14;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.footer-logo {
  margin-top: 20px;
}

.footer-content {
  display: flex;
  margin: 0px auto;
  -webkit-box-pack: center;
  justify-content: center;
  flex-flow: wrap;
  max-width: 500px;

}

.footer-content button {
  font-size: 12px;
  letter-spacing: -.1px;
  line-height: 1.5;
  margin: 11px 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #f9f9f9;

}

.footer-metadata p {
  color: #cacaca;
  text-align: center;
  font-size: 12px;
  letter-spacing: -.1px;
  line-height: 1.5;
  
}

.footer-direitos {
  padding-bottom: 1.5rem;
  padding-top: .5rem;
}


.footer-direitos p {
  font-family: Inspire-Regular,sans-serif;
  font-size: 12px;
  letter-spacing: -.1px;
  line-height: 1.5;
  color: #cacaca;

}

@keyframes leftsmooth {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width:1550px) {
  .response {
    display: none;
  }
  .dotted {
    display: flex;
  }
}

@media (max-width:620px) {
  .user a {
    display: none;
  }

}
